@import url('https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab:wght@700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', serif;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  padding: 30px 0 0 0;
}

.sm-bg {
  position: absolute;
  width: 800px;
  height: 951px;
  right: 0px;
  top: 0px;
  background: #F3FFEE;
  z-index: -1;
}

nav.desktop-nav {
  width: 80%;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.mobile-nav {
  display: none;
}

nav span {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  font-size: 16px;
}

.logo img {
  width: 80px;
}

a.active-pg {
  text-decoration: underline;
}

.contact-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  gap: 10px;
  border: 2px solid #000000;
  border-radius: 6px;
}

.intro {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left .headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px 10px 30px;
  gap: 69px;
  background: #ACCF9F;
  border-radius: 3px;
  font-size: 14px;
}

.headline-btn {
  background: #1E1E1E;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 15px;
}

h1 {
  font-size: 45px;
  color: #000000;
}

.welcome-intro {
  line-height: 30px;
  color: #4F4D4D;
}

.support-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  gap: 10px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  color: #FFFFFF;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: wrap;
  gap: 40px;
  margin-bottom: 80px;
}

.right-programs {
  width: 40%;
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.right section {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-programs div {
  width: 100%;
  border: 2px solid #000000;
  border-radius: 150px;
  height: 200px;
}

.right-programs div.round {
  width: 45%;
}

.right-programs div.pointed {
  width: 45%;
  border-radius: 150px 0px 150px 150px;
}

.right .groups {
  border: 2px solid #000000;
  border-radius: 150px 150px 150px 0px;
  height: 220px;
  position: relative;
  background-image: url(img/hands.jpg);
  background-size: cover;
}

.right .imgone {
  border: 2px solid #000000;
  border-radius: 150px 150px 0px 0px;
  height: 300px;
}

.right .imgtwo {
  border: 2px solid #000000;
  border-radius: 0px 0px 150px 150px;
  height: 180px;
}

.groups span {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  top: 80px;
  left: -30px;
}

.right .overnights {
  border: 2px solid #000000;
  border-radius: 0px 150px 150px 150px;
  height: 350px;
  position: relative;
  background-image: url(img/overnight.jpg);
  background-size: cover;
}

.right .imgthree {
  border: 2px solid #000000;
  border-radius: 150px;
  height: 250px;
}

.right .imgfour {
  border: 2px solid #000000;
  border-radius: 150px 0px 150px 150px;
  height: 250px;
}

.overnights span {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  top: 120px;
  left: -30px;
}

.right .mens {
  border: 2px solid #000000;
  border-radius: 150px;
  height: 350px;
  position: relative;
  background-image: url(img/mens.jpg);
  background-size: cover;
}

.mens span {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  top: 150px;
  right: -30px;
}

.right .supporters {
  height: 220px;
  background: #ACCF9F;
  border: 2px solid #000000;
  border-radius: 150px 0px 150px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.supporters p {
  line-height: 35px;
}

.supporters span {
  font-size: 25px;
  font-weight: bold;
}

.purpose-n-church {
  background: #FFF2DD;
  padding: 80px 0;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.purpose {
  display: flex;
  gap: 40px;
}

.purpose .image {
  height: 200px;
  width: 220px;
  border: 2px solid #000000;
  border-radius: 100px 0px 100px 100px;
  background-image: url(img/purpose.jpg);
  background-size: cover;
  z-index: 10;
}

.purpose-line {
  position: absolute;
  left: -50px;
  top: 20px;
}

.purpose .image-church {
  height: 200px;
  width: 220px;
  border: 2px solid #000000;
  border-radius: 100px 100px 0px 100px;
  background-image: url(img/church.jpg);
  background-size: cover;
}

.purpose .description {
  width: 70%;
}

.purpose h3 {
  margin: 0 0 20px 0;
}

.pnc {
  display: flex;
  gap: 40px;
}

.heading-container {
  position: relative;
}

.impact {
  position: absolute;
  width: 30px;
  left: -20px;
  top: -20px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

.description p {
  line-height: 30px;
}

.programs, .sermons, .events, footer, .involve, .calendar {
  padding: 80px 0;
  position: relative;
}

.programs .heading,
.sermons .heading,
.events .heading {
  text-align: center;
  margin: 0 0 70px 0;
  position: relative;
}

.heading span {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 0 10px 0;
  background: #ACCF9F;
  border-radius: 3px;
}

.heading img {
  position: relative;
  top: -20px;
  left: 30px;
  transform: translateX(-50%);
  width: 30px;
}

.programs section,
.sermons section,
.events section,
.involve section {
  display: flex;
  gap: 40px;
}

.program {
  background: #F3FFEE;
  padding: 30px;
  width: 30%;
  z-index: 10;
}

.program h4 {
  margin: 0 0 20px 0;
  font-size: 25px;
}

.program p {
  line-height: 30px;
  color: #000000;
  margin: 0 0 30px 0;
}

.program-icon {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: #ACCF9F;
  margin: 0 0 30px 0;
}

.circle-line {
  position: absolute;
  right: -50px;
  top: 50px;
}

.circle-sermons {
  position: absolute;
  left: -50px;
  top: 100px;
}

.sermons section,
.programs section,
.events section {
  flex-wrap: wrap;
}

.sermon {
  background: #FFF2DD;
  padding: 30px;
  display: flex;
  gap: 30px;
  width: 47%;
  align-items: center;
  z-index: 10;
}

.sermon h4 {
  margin: 0 0 16px 0;
  font-size: 25px;
}

.sermon-details {
  width: 70%;
}

.sermon-img {
  width: 20%;
  height: 136px;
  border: 2px solid #000000;
  border-radius: 50px;
}

.sermon-questions {
  background-image: url(img/questions.jpg);
  background-size: cover;
  background-position: center center;
}

.sermon-menstalk {
  background-image: url(img/realmen.jpg);
  background-size: cover;
  background-position: center center;
}

.sermon-lubabu {
  background-image: url(img/lubabu.jpg);
  background-size: cover;
  background-position: center center;
}

.sermon-midweek {
  background-image: url(img/midweek.jpg);
  background-size: cover;
  background-position: center center;
}

.sermon-overnight {
  background-image: url(img/fridayovernight.jpg);
  background-size: cover;
  background-position: center center;
}

.sermon .links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.watch-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 6px;
}

.listen-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.events h2 {
  margin: 0 0 16px 0;
}

.events p {
  line-height: 30px;
}

.event-img {
  width: 100%;
  height: 300px;
  border: 2px solid #000000;
}

.event-marrieds {
  background-image: url(img/marrieds.jpg);
  background-size: cover;
}

.event-singles {
  background-image: url(img/singles.jpg);
  background-size: cover;
}

.event {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 47%;
  z-index: 10;
}

.event h4 {
  margin: 0 0 16px 0;
  font-size: 25px;
}

.event p {
  font-style: italic;
  line-height: 30px;
  margin: 0 0 20px 0;
}

.event-link {
  height: 50px;
  background: #ACCF9F;
  border: 2px solid #000000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.event-about {
  line-height: 30px;
  margin: 0 0 40px 0;
}

footer {
  background: #000000;
  color: #FFFFFF;
}

footer section {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #FFFFFF;
}

.about, .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about p, .contact p {
  text-transform: uppercase;
  text-decoration: underline;
}

.about-links, .contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colored {
  color: #E0BB7C;
}

.coloredbg {
  background: #FFF2DD;
}

.footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #000000;
}

.involve {
  background: #FFF2DD;
}

.involve section {
  justify-content: center;
  align-items: end;
}

.involve h2 {
  width: 45%;
}

.involve a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  gap: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
}

.featured {
  background: #F3FFEE;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 80px 0;
}

.top div {
  display: flex;
  gap: 30px;
}

.calendar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 0 80px 0;
}

.weekly {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ttl {
  font-family: 'Zilla Slab';
  font-size: 25px;
  margin: 0 0 30px 0;
  text-align: center;
}

.evt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px;
  gap: 10px;
  background: #F3FFEE;
  border-radius: 20px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.greenbg {
  background-color: #F3FFEE;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.social-links a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px 10px;
  gap: 10px;
  background: #ACCF9F;
  border-radius: 6px;
}

.upcomingevent {
  display: flex;
  gap: 40px;
  margin: 0 0 60px 0;
}

.upcomingevent-image {
  border: 2px solid #000000;
  width: 35%;
  height: 250px;
}

.upcomingevent-detaails {
  width: 55%;
}

.upcomingevent-detaails h4 {
  margin: 0 0 20px 0;
}

.upcomingevent-detaails .date {
  font-style: italic;
  margin: 0 0 10px 0;
}

.upcomingevent-detaails p {
  line-height: 36px;
}

@media screen and (max-width: 1507px) {
  .left .headline {
    display: none;
  }
}

@media screen and (max-width: 1471px) {
  .event .support-btn{
    padding: 15px 20px;
  }
}

@media screen and (max-width: 1291px) {
  .intro, nav.desktop-nav, .container {
    width: 95%;
  }
}

@media screen and (max-width: 1087px) {
  .right {
    width: 50%;
  }

  footer section {
    flex-wrap: wrap;
  }

  footer .about, 
  footer .contact {
    width: 45%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1053px) {
  .right-programs {
    width: 50%;
  }
}

@media screen and (max-width: 978px) {
  .programs section,
  .sermons section {
    flex-direction: column;
  }

  .program, .sermon {
    width: 100%;
  }

  .events section {
    justify-content: center;
    flex-direction: column;
  }

  .event-img {
    width: 50%;
    height: 200px;
  } 

  .event-link {
    height: auto;
    border-radius: 20px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 933px) {
  .intro, .pnc, .involve section {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .right, .right-programs {
    display: none;
  }

  .involve h2 {
    width: 100%;
  }
}

@media screen and (max-width: 674px) {
  nav.desktop-nav {
    display: none;
  }

  nav.mobile-nav {
    width: 95%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .purpose, .upcomingevent {
    flex-direction: column;
  }
  
  .purpose .description, 
  .upcomingevent-detaails,
  .upcomingevent-image {
    width: 100%;
  }

  footer .about, 
  footer .contact {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .sermon {
    flex-direction: column;
  }

  .sermon-details,
  .sermon-img {
    width: 100%;
  }

  .event {
    flex-direction: column;
  }

  .event-img {
    width: 90%;
  }

  .top {
    flex-direction: column;
    gap: 40px;
  }
}
