@import url('https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab:wght@700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', serif;
}

a {
  color: #000000;
  text-decoration: none;
}

nav {
  width: 80%;
  margin: 30px auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  font-size: 16px;
}

a.logo {
  font-size: 20px;
  font-weight: bold;
}

a.active-pg {
  text-decoration: underline;
}

.contact-btn {
  padding: 12px 25px;
  border: 2px solid #000000;
  border-radius: 6px;
}

.intro {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left .headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px 10px 30px;
  gap: 69px;
  background: #ACCF9F;
  border-radius: 3px;
  font-size: 14px;
}

.headline-btn {
  background: #1E1E1E;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 15px;
}

h1 {
  font-size: 45px;
  color: #000000;
}

.welcome-intro {
  line-height: 30px;
  color: #4F4D4D;
}

.call-to-action a,
.support-btn {
  display: inline-block;
  padding: 15px 50px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  color: #ffffff;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: wrap;
  gap: 40px;
  margin-bottom: 80px;
}

.right section {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right .groups {
  border: 2px solid #000000;
  border-radius: 150px 150px 150px 0px;
  height: 220px;
  position: relative;
}

.groups span {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  top: 80px;
  left: -30px;
}

.right .overnights {
  border: 2px solid #000000;
  border-radius: 0px 150px 150px 150px;
  height: 350px;
  position: relative;
}

.overnights span {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  top: 120px;
  left: -30px;
}

.right .mens {
  border: 2px solid #000000;
  border-radius: 150px;
  height: 350px;
  position: relative;
}

.mens span {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  top: 150px;
  right: -30px;
}

.right .supporters {
  height: 220px;
  background: #ACCF9F;
  border: 2px solid #000000;
  border-radius: 150px 0px 150px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purpose-n-church {
  background: #FFF2DD;
  padding: 80px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.purpose {
  display: flex;
  gap: 40px;
}

.purpose .image {
  height: 200px;
  width: 220px;
  border: 2px solid #000000;
  border-radius: 100px 0px 100px 100px;
}

.purpose .description {
  width: 70%;
}

.purpose h3 {
  margin: 0 0 20px 0;
}

.pnc {
  display: flex;
  gap: 40px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

.description p {
  line-height: 30px;
}

.programs, .sermons, .events, footer, .involve, .calendar {
  padding: 80px 0;
}

.programs .heading,
.sermons .heading,
.events .heading {
  text-align: center;
  margin: 0 0 70px 0;
}

.heading span {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 0 10px 0;
  background: #ACCF9F;
  border-radius: 3px;
}

.programs section,
.sermons section,
.events section,
.involve section {
  display: flex;
  gap: 40px;
}

.program {
  background: #F3FFEE;
  padding: 30px;
  width: 30%;
}

.program h4 {
  margin: 0 0 10px 0;
}

.program p {
  line-height: 30px;
  color: #000000;
  margin: 0 0 30px 0;
}

.sermons section,
.programs section {
  flex-wrap: wrap;
}

.sermon {
  background: #FFF2DD;
  padding: 30px;
  display: flex;
  gap: 30px;
  width: 47%;
  align-items: center;
}

.sermon h4 {
  margin: 0 0 16px 0;
}

.sermon-img {
  width: 130px;
  height: 136px;
  border: 2px solid #000000;
  border-radius: 50px;
}

.sermon .links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.watch-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 6px;
}

.listen-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.events h2 {
  margin: 0 0 16px 0;
}

.events p {
  line-height: 30px;
}

.events section {
  justify-content: space-between;
}

.event-img {
  width: 250px;
  height: 360px;
  border: 2px solid #000000;
  border-radius: 150px 150px 0px 150px;
}

.event {
  display: flex;
  gap: 30px;
  align-items: center;
}

.event h4 {
  margin: 0 0 16px 0;
}

.event p {
  font-style: italic;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.event-link {
  height: 360px;
  background: linear-gradient(0deg, #ACCF9F, #ACCF9F), #000000;
  border: 2px solid #000000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
}

footer {
  background: #000000;
  color: #FFFFFF;
}

footer section {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #FFFFFF;
}

.about, .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about p, .contact p {
  text-transform: uppercase;
  text-decoration: underline;
}

.about-links, .contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colored {
  color: #E0BB7C;
}

.footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #000000;
}

.involve {
  background: #FFF2DD;
}

.involve section {
  justify-content: center;
  align-items: end;
}

.involve h2 {
  width: 45%;
}

.involve a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  gap: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
}

.featured {
  background: #F3FFEE;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 80px 0;
}

.top div {
  display: flex;
  gap: 30px;
}

.calendar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 0 80px 0;
}

.weekly {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ttl {
  font-family: 'Zilla Slab';
  font-size: 25px;
  margin: 0 0 30px 0;
  text-align: center;
}

.evt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px;
  gap: 10px;
  background: #F3FFEE;
  border-radius: 20px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 20px;
}